<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{restoName}} - Restaurant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="parentcontainer">
        <!-- NAVBAR START -->
        <div class="left-home-container">
            <h1 id="navbar-logo">Very Munch</h1>
            <a href="/home" class="navbar-option-container">
                <span class="material-symbols-outlined">home</span>
                Home
            </a>
            <a href="/order-history" class="navbar-option-container">
                <span class="material-symbols-outlined">list_alt</span>
                Order History
            </a>
            <a href="/reviews" class="navbar-option-container">
                <span class="material-symbols-outlined">reviews</span>
                Reviews
            </a>
            <a href="/help" class="navbar-option-container">
                <span class="material-symbols-outlined">help</span>
                Help
            </a>
            <a href="/settings" class="navbar-option-container">
                <span class="material-symbols-outlined">settings</span>
                Settings
            </a>
        </div>
        <!-- NAVBAR END -->
        
        <!-- parent container taken from HOME -->
        <div class="right-home-container">
            <!-- toolbar section taken from HOME -->
            <div class="right-home-header">
                <div class="right-home-header-label">
                    <!-- i kept this, despite not containing anything, so the toolbar would stay on the top right -->
                </div>
                <div class="right-home-header-toolbar">
                    <span class="toolbar-container">
                        <span class="material-symbols-outlined toolbar-icon">notifications</span>
                    </span>
                    <span class="toolbar-container">
                        <span class="material-symbols-outlined toolbar-icon">shopping_cart</span>
                    </span>
                    <span class="toolbar-container">
                        <img src="https://preview.redd.it/red-velvet-cosmic-mv-and-references-to-midsommar-2019-v0-z9sqlhyywh8d1.jpg?width=640&crop=smart&auto=webp&s=32cd83e568e234e5b00fedea9a8f6de9c81cc81e">
                    </span>
                </div>
            </div>
            
            <div class="breadcrumb-container">
                <a href="/home">Home</a> > {{restoName}}
            </div>
            
            <div class="restaurant-image">
                <img src="{{restoImage}}" class="restaurant-image">
            </div>
            
            <span id="selected-restaurant-name">
                {{restoName}}
            </span>
            
            <div class="selected-restaurant-details">
                <span class="center-details">
                    <span class="material-symbols-outlined" id="red-location">location_on</span>
                    {{address}}
                </span>
                <span class="center-details">
                    <span class="material-symbols-outlined" id="yellow-star">star</span>
                    <a href="/reviews">{{reviewCount}} Reviews</a>
                </span>
                <span class="center-details">
                    <span class="material-symbols-outlined">schedule</span>
                    {{timeOpen}} - {{timeClose}}
                </span>
            </div>
            
            <span id="todays-discount-label">
                Today's Discounted Products
            </span>
            
            <div class="discounted-products-container">
                {{#each menu}}
                <div class="discounted-products-selector">
                    <div class="discounted-products-image-container">
                        <img src="{{this.image}}">
                    </div>
                    <div class="discounted-products-itemdetails-container">
                        <div class="discounted-products-itemname" title="{{this.name}}">
                            {{this.name}}
                        </div>
                        <span class="discounted-products-itemdesc">
                            {{this.description}}
                        </span>
                        <div class="discounted-products-price-container">
                            <span class="discounted-products-sellprice">
                                {{this.price}}
                            </span>
                            <span class="discounted-products-addtocart">
                                <button class="addtocartbutton" onclick="showPopup('{{this.name}}', '{{this.image}}', '{{this.price}}', '{{this.description}}')">
                                    +
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                {{/each}}

                <!-- Popup window for adding an item to cart -->
                <div id="popup-overlay" class="popup-overlay"></div>
                <div id="popup-window" class="popup-window">
                    <div class="selected-product-container">
                        <div class="selected-product-image">
                            <img id="popup-product-image">
                        </div>
                        <div class="selected-product-details-container">
                            <div class="selected-product-name">
                                <span id="popup-product-name-style"></span>
                                <span id="popup-product-price"></span>
                            </div>
                            <div class="selected-product-description" id="popup-product-description"></div>
                            <div class="selected-product-allergen" id="popup-product-allergen"></div>
                            <div class="quantity-counter">
                                <button class="quantity-button-style" id="decrease-button">-</button>
                                <input type="text" id="product-quantity" name="product-quantity" class="quantity-field-style" value="1">
                                <button class="quantity-button-style" id="increase-button">+</button>
                            </div>
                            <div class="decision-button-container">
                                <button class="cancel-decision-button" onclick="hidePopup()">Cancel</button>
                                <button class="confirm-decision-button">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/selectedresto.js"></script>

</body>

</html>
